@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: #f5f6fa ;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__left {
  flex: 0.8;
}

.app__stats {
  display: flex;
  justify-content: space-between;  
}

.app__graphTitle {
  margin: 20px;
}


/* Media Queries */
@media screen and (max-width: 768px) {
  .app {
    flex-direction: column;
  }
}